
.grid{
  margin: 2em;
  /* width: 80%; */
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1.5em;
  
}
.picsum {
  width: 300px;
  height: 300px;
  border-radius: 2em;
}
